
body{
    margin: 0;
    font-family: "Arial", serif;
}

#top-bar{
    width:100%;
    overflow: hidden;
    text-align: center;
}

#site-title{
    font-family: 'Baloo Tamma', cursive;
    margin:0;
    padding:7px;
    font-size: 20px;
    border-right: 1px solid #fff;
}

#site-title a {
    color: #000;
    text-decoration: none;
    font-weight: 300;
}

#smile{
    display:inline-block;
    width:40px;
    height:40px;
    background: url("../img/smiley.png") no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
}

#smile:focus {
    outline: none;
}

#smile.curious {
    background-image: url("../img/curious.png");
}

#smile.won {
    background-image: url("../img/win.png");
}

#smile.lost {
    background-image: url("../img/sad.png");
}

#settings{
    margin:0 auto;
    overflow: hidden;
    text-align: left;
    float:left;
}

.minefield{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.minefield-in {
    position: relative;
    display:inline-block;
}

.board{
    background-color: #eaeaea;
    border-collapse: collapse;
    border-color: #002b52;
    width: auto;
    margin: 0 auto;
    position: relative;
}

#board.inactive {
    pointer-events: none;
}

.board td{
    text-align: center;
    background-size: 100%;
    padding:0;
    font-size: 14px;
    position: relative;
}

.board td div:not(.revealed) {
    cursor: pointer;
}

.board td div:after {
    content: attr(data-val);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    font-weight: bold;
}

.board td div[data-val="1"] {
    color: blue;
}

.board td div[data-val="2"] {
    color: green;
}

.board td div[data-val="3"] {
    color: red;
}

.board td div[data-val="4"] {
    color: darkblue;
}

.board td div[data-val="5"] {
    color: darkred;
}

.board td div[data-val="6"] {
    color: orangered;
}

.board td div[data-val="7"] {
    color: lightblue;
}

.board td div[data-val="8"] {
    color: #333;
}

.board .fa {
    font-size: 12px;
}

.board td div{
    width: 20px;
    height: 20px;
    text-align: center;
    box-sizing: border-box;
    line-height: 20px;
    border-bottom: 1px solid #555;
    border-right: 2px solid #ccc;
}
.board td div.revealed{
    font-size: 12px;
}
.board td:hover div, .board td div.revealed, .board td div.fa-flag{
    background-color: #aaa;
    border: none;
}

.board td div.fa-flag {
    background: #AA2020;
    color: #fff;
}
.board td div.fa-flag.mistake {
    position: relative;
}
.board td div.fa-flag.mistake:after {
    content: "\f00d";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #333;
    font-size: 28px;
}
.board td div.fa-bomb {
/*    background: #222;*/
    color: #333;
    /*border: none;*/
    font-size: 12px;
}

.board td div.fa-bomb.clicked {
    background: #c9302c;
    color: #fff;
    border: none;
}

#menu_right{
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(220, 220, 220, 0.85);
    width: 292px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    box-shadow: 0 0 10px #222;
    border-radius: 3px;
}


#log{
    width: 100%;
    margin-top: 10px;
    color: #333;
    font-family: "Courier New";
    display: none;
    max-height: 360px;
    overflow-y: auto;
}

#log > div{
    padding: 5px;
    margin-bottom: 5px;
}

#chat{
    border: 5px solid #ccc;
    overflow: hidden;
}

#chat > *:focus {
    outline: none;
}

#msg{
    display: inline-block;
    height: 32px;
    border: 0;
    width: 238px;
    float: left;
}

#send{
    display:inline-block;
    float: left;
    background: url('../img/send.png') no-repeat center #fff;
    width: 32px;
    height: 34px;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
}
#status {
    font-family: "Courier New", "serif";
    position: absolute;
    top: 100%;
    margin-top: 10px;
    left:0;
    padding: 5px;
    border: 2px solid #ccc;
    border-bottom-width: 1px;
    width: 85px;
    text-align: center;
    pointer-events: none;
    background-color: #eaeaea;
    box-shadow: 0 0 5px #000;
}

#timer {
    font-weight: bold;
}


.user {
    font-weight: bold;
}

.user.admin {
    color: #761c19;
}

/** {*/
    /*color: #761c19;*/
    /*color: #449d44;*/
    /*color: #ec971f;*/
    /*color: #2e6da4;*/
/*}*/
